{ 'ATOMIC_FORCES': { 'c': [],
                     'd': '',
                     'r': False,
                     'syntax': { 'cond': None,
                                 'l': [ ( [ { 'n': 'X',
                                              't': 'CHARACTER',
                                              'v': []},
                                            {'n': 'fx', 't': 'REAL', 'v': []},
                                            {'n': 'fy', 't': 'REAL', 'v': []},
                                            {'n': 'fz', 't': 'REAL', 'v': []}],
                                          '1',
                                          'nat',
                                          'rows')]},
                     'u': False,
                     'v': ''},
  'ATOMIC_POSITIONS': { 'c': [ 'alat',
                               'bohr',
                               'angstrom',
                               'crystal',
                               'crystal_sg'],
                        'd': '(DEPRECATED) alat',
                        'r': True,
                        'syntax': { 'cond': None,
                                    'l': [ ( [ { 'n': 'X',
                                                 't': 'CHARACTER',
                                                 'v': []},
                                               {'n': 'x', 't': 'REAL', 'v': []},
                                               {'n': 'y', 't': 'REAL', 'v': []},
                                               {'n': 'z', 't': 'REAL', 'v': []},
                                               [ { 'n': 'if_pos(1)',
                                                   't': 'INTEGER',
                                                   'v': []},
                                                 { 'n': 'if_pos(2)',
                                                   't': 'INTEGER',
                                                   'v': []},
                                                 { 'n': 'if_pos(3)',
                                                   't': 'INTEGER',
                                                   'v': []}]],
                                             '1',
                                             'nat',
                                             'rows')]},
                        'u': False,
                        'v': ''},
  'ATOMIC_SPECIES': { 'c': [],
                      'd': '',
                      'r': True,
                      'syntax': { 'cond': None,
                                  'l': [ ( [ { 'n': 'X',
                                               't': 'CHARACTER',
                                               'v': []},
                                             { 'n': 'Mass_X',
                                               't': 'REAL',
                                               'v': []},
                                             { 'n': 'PseudoPot_X',
                                               't': 'CHARACTER',
                                               'v': []}],
                                           '1',
                                           'ntyp',
                                           'rows')]},
                      'u': False,
                      'v': ''},
  'CELL': { 'cell_dofree': { 'c': [ 'all',
                                    'x',
                                    'y',
                                    'z',
                                    'xy',
                                    'xz',
                                    'yz',
                                    'xyz',
                                    'shape',
                                    'volume',
                                    '2Dxy',
                                    '2Dshape',
                                    'epitaxial_ab',
                                    'epitaxial_ac',
                                    'epitaxial_bc'],
                             'd': 'all',
                             't': 'CHARACTER',
                             'v': '',
                             'vec': None},
            'cell_dynamics': { 'c': [ 'none',
                                      'sd',
                                      'damp-pr',
                                      'damp-w',
                                      'bfgs',
                                      'none1',
                                      'pr',
                                      'w'],
                               'd': '',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
            'cell_factor': { 'c': [],
                             'd': '2.0 for variable-cell calculations, 1.0 '
                                  'otherwise',
                             't': 'REAL',
                             'v': '',
                             'vec': None},
            'press': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
            'press_conv_thr': { 'c': [],
                                'd': '0.5E0 Kbar',
                                't': 'REAL',
                                'v': '',
                                'vec': None},
            'wmass': { 'c': [],
                       'd': '0.75*Tot_Mass/pi**2 for Parrinello-Rahman ME; '
                            '0.75*Tot_Mass/pi**2/Omega**(2/3) for Wentzcovitch '
                            'ME',
                       't': 'REAL',
                       'v': '',
                       'vec': None}},
  'CELL_PARAMETERS': { 'c': ['alat', 'bohr', 'angstrom'],
                       'd': 'alat',
                       'r': False,
                       'syntax': { 'cond': None,
                                   'l': [ ( [ {'n': 'v1', 't': 'REAL', 'v': []},
                                              {'n': 'v2', 't': 'REAL', 'v': []},
                                              { 'n': 'v3',
                                                't': 'REAL',
                                                'v': []}],
                                            '1',
                                            '3',
                                            'cols')]},
                       'u': False,
                       'v': ''},
  'CONSTRAINTS': { 'c': [],
                   'd': '',
                   'r': False,
                   'syntax': { 'cond': None,
                               'l': [ [ { 'n': 'nconstr',
                                          't': 'INTEGER',
                                          'v': ''}],
                                      ( [ { 'n': 'constr_type',
                                            't': 'CHARACTER',
                                            'v': []},
                                          { 'n': 'constr(1)',
                                            't': None,
                                            'v': []},
                                          { 'n': 'constr(2)',
                                            't': None,
                                            'v': []},
                                          [ { 'n': 'constr_target',
                                              't': 'REAL',
                                              'v': []}]],
                                        '1',
                                        'nconstr',
                                        'rows')]},
                   'u': False,
                   'v': ''},
  'CONTROL': { 'calculation': { 'c': [ 'scf',
                                       'nscf',
                                       'bands',
                                       'relax',
                                       'md',
                                       'vc-relax',
                                       'vc-md'],
                                'd': 'scf',
                                't': 'CHARACTER',
                                'v': '',
                                'vec': None},
               'dipfield': { 'c': [],
                             'd': True,
                             't': 'LOGICAL',
                             'v': '',
                             'vec': None},
               'disk_io': { 'c': ['high', 'medium', 'low', 'none'],
                            'd': 'see below',
                            't': 'CHARACTER',
                            'v': '',
                            'vec': None},
               'dt': {'c': [], 'd': 20.0, 't': 'REAL', 'v': '', 'vec': None},
               'etot_conv_thr': { 'c': [],
                                  'd': 0.0001,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
               'forc_conv_thr': { 'c': [],
                                  'd': 0.001,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
               'gate': { 'c': [],
                         'd': True,
                         't': 'LOGICAL',
                         'v': '',
                         'vec': None},
               'gdir': {'c': [], 'd': '', 't': 'INTEGER', 'v': '', 'vec': None},
               'iprint': { 'c': [],
                           'd': 'write only at convergence',
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
               'lberry': { 'c': [],
                           'd': True,
                           't': 'LOGICAL',
                           'v': '',
                           'vec': None},
               'lelfield': { 'c': [],
                             'd': True,
                             't': 'LOGICAL',
                             'v': '',
                             'vec': None},
               'lfcpopt': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'lkpoint_dir': { 'c': [],
                                'd': True,
                                't': 'LOGICAL',
                                'v': '',
                                'vec': None},
               'lorbm': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
               'max_seconds': { 'c': [],
                                'd': '1.E+7, or 150 days, i.e. no time limit',
                                't': 'REAL',
                                'v': '',
                                'vec': None},
               'nberrycyc': { 'c': [],
                              'd': 1,
                              't': 'INTEGER',
                              'v': '',
                              'vec': None},
               'nppstr': { 'c': [],
                           'd': '',
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
               'nstep': { 'c': [],
                          'd': '1 if @ref calculation == scf, nscf, bands; 50 '
                               'for the other cases',
                          't': 'INTEGER',
                          'v': '',
                          'vec': None},
               'outdir': { 'c': [],
                           'd': 'value of the ESPRESSO_TMPEIR environment '
                                'variable if set; current directory (./) '
                                'otherwise',
                           't': 'CHARACTER',
                           'v': '',
                           'vec': None},
               'prefix': { 'c': [],
                           'd': 'pwscf',
                           't': 'CHARACTER',
                           'v': '',
                           'vec': None},
               'pseudo_dir': { 'c': [],
                               'd': 'value of the $ESPRESSO_PSEUEO environment '
                                    'variable if set; $HOME/espresso/pseudo/ '
                                    'otherwise',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
               'restart_mode': { 'c': ['from_scratch', 'restart'],
                                 'd': 'from_scratch',
                                 't': 'CHARACTER',
                                 'v': '',
                                 'vec': None},
               'tefield': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'title': { 'c': [],
                          'd': ' ',
                          't': 'CHARACTER',
                          'v': '',
                          'vec': None},
               'tprnfor': { 'c': [],
                            'd': False,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'tstress': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'verbosity': { 'c': ['high', 'low'],
                              'd': 'low',
                              't': 'CHARACTER',
                              'v': '',
                              'vec': None},
               'wf_collect': { 'c': [],
                               'd': True,
                               't': 'LOGICAL',
                               'v': '',
                               'vec': None},
               'wfcdir': { 'c': [],
                           'd': 'same as @ref outdir',
                           't': 'CHARACTER',
                           'v': '',
                           'vec': None}},
  'ELECTRONS': { 'adaptive_thr': { 'c': [],
                                   'd': True,
                                   't': 'LOGICAL',
                                   'v': '',
                                   'vec': None},
                 'conv_thr': { 'c': [],
                               'd': 1e-06,
                               't': 'REAL',
                               'v': '',
                               'vec': None},
                 'conv_thr_init': { 'c': [],
                                    'd': 0.001,
                                    't': 'REAL',
                                    'v': '',
                                    'vec': None},
                 'conv_thr_multi': { 'c': [],
                                     'd': 0.1,
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
                 'diago_cg_maxiter': { 'c': [],
                                       'd': '',
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                 'diago_david_ndim': { 'c': [],
                                       'd': 4,
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                 'diago_full_acc': { 'c': [],
                                     'd': True,
                                     't': 'LOGICAL',
                                     'v': '',
                                     'vec': None},
                 'diago_thr_init': { 'c': [],
                                     'd': '',
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
                 'diagonalization': { 'c': [ 'david',
                                             'cg',
                                             'cg-serial, david-serial'],
                                      'd': 'david',
                                      't': 'CHARACTER',
                                      'v': '',
                                      'vec': None},
                 'efield': { 'c': [],
                             'd': 0.0,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                 'efield_cart': { 'c': [],
                                  'd': '(0.E0, 0.E0, 0.E0)',
                                  't': 'REAL',
                                  'v': [],
                                  'vec': (1, 3)},
                 'efield_phase': { 'c': ['read', 'write', 'none'],
                                   'd': 'none',
                                   't': 'CHARACTER',
                                   'v': '',
                                   'vec': None},
                 'electron_maxstep': { 'c': [],
                                       'd': 100,
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                 'mixing_beta': { 'c': [],
                                  'd': 0.7,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
                 'mixing_fixed_ns': { 'c': [],
                                      'd': 0,
                                      't': 'INTEGER',
                                      'v': '',
                                      'vec': None},
                 'mixing_mode': { 'c': ['plain', 'TF', 'local-TF'],
                                  'd': 'plain',
                                  't': 'CHARACTER',
                                  'v': '',
                                  'vec': None},
                 'mixing_ndim': { 'c': [],
                                  'd': 8,
                                  't': 'INTEGER',
                                  'v': '',
                                  'vec': None},
                 'ortho_para': { 'c': [],
                                 'd': 0,
                                 't': 'INTEGER',
                                 'v': '',
                                 'vec': None},
                 'scf_must_converge': { 'c': [],
                                        'd': True,
                                        't': 'LOGICAL',
                                        'v': '',
                                        'vec': None},
                 'startingpot': { 'c': ['atomic', 'file'],
                                  'd': '',
                                  't': 'CHARACTER',
                                  'v': '',
                                  'vec': None},
                 'startingwfc': { 'c': [ 'atomic',
                                         'atomic+random',
                                         'random',
                                         'file'],
                                  'd': 'atomic+random',
                                  't': 'CHARACTER',
                                  'v': '',
                                  'vec': None},
                 'tqr': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None}},
  'IONS': { 'bfgs_ndim': { 'c': [],
                           'd': 1,
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
            'delta_t': {'c': [], 'd': 1.0, 't': 'REAL', 'v': '', 'vec': None},
            'ion_dynamics': { 'c': [ 'bfgs',
                                     'damp',
                                     'verlet',
                                     'langevin',
                                     'langevin-smc',
                                     'bfgs1',
                                     'damp1',
                                     'beeman'],
                              'd': '',
                              't': 'CHARACTER',
                              'v': '',
                              'vec': None},
            'ion_positions': { 'c': ['default', 'from_input'],
                               'd': 'default',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
            'ion_temperature': { 'c': [ 'rescaling',
                                        'rescale-v',
                                        'rescale-T',
                                        'reduce-T',
                                        'berendsen',
                                        'andersen',
                                        'initial',
                                        'not_controlled'],
                                 'd': 'not_controlled',
                                 't': 'CHARACTER',
                                 'v': '',
                                 'vec': None},
            'nraise': {'c': [], 'd': 1, 't': 'INTEGER', 'v': '', 'vec': None},
            'pot_extrapolation': { 'c': [ 'none',
                                          'atomic',
                                          'first_order',
                                          'second_order'],
                                   'd': 'atomic',
                                   't': 'CHARACTER',
                                   'v': '',
                                   'vec': None},
            'refold_pos': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
            'remove_rigid_rot': { 'c': [],
                                  'd': True,
                                  't': 'LOGICAL',
                                  'v': '',
                                  'vec': None},
            'tempw': {'c': [], 'd': 300.0, 't': 'REAL', 'v': '', 'vec': None},
            'tolp': {'c': [], 'd': 100.0, 't': 'REAL', 'v': '', 'vec': None},
            'trust_radius_ini': { 'c': [],
                                  'd': 0.5,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
            'trust_radius_max': { 'c': [],
                                  'd': 0.8,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
            'trust_radius_min': { 'c': [],
                                  'd': 0.001,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
            'upscale': {'c': [], 'd': 100.0, 't': 'REAL', 'v': '', 'vec': None},
            'w_1': {'c': [], 'd': 0.01, 't': 'REAL', 'v': '', 'vec': None},
            'w_2': {'c': [], 'd': 0.5, 't': 'REAL', 'v': '', 'vec': None},
            'wfc_extrapolation': { 'c': ['none', 'first_order', 'second_order'],
                                   'd': 'none',
                                   't': 'CHARACTER',
                                   'v': '',
                                   'vec': None}},
  'K_POINTS': { 'c': [ 'tpiba',
                       'automatic',
                       'crystal',
                       'gamma',
                       'tpiba_b',
                       'crystal_b',
                       'tpiba_c',
                       'crystal_c'],
                'd': 'tpiba',
                'r': True,
                'syntax': { 'cond': 'tpiba | crystal | tpiba_b | crystal_b | '
                                    'tpiba_c | crystal_c ',
                            'l': [ [{'n': 'nks', 't': 'INTEGER', 'v': ''}],
                                   ( [ {'n': 'xk_x', 't': 'REAL', 'v': []},
                                       {'n': 'xk_y', 't': 'REAL', 'v': []},
                                       {'n': 'xk_z', 't': 'REAL', 'v': []},
                                       {'n': 'wk', 't': 'REAL', 'v': []}],
                                     '1',
                                     'nks',
                                     'rows')]},
                'syntax1': { 'cond': 'automatic',
                             'l': [ [ {'n': 'nk1', 't': 'INTEGER', 'v': ''},
                                      {'n': 'nk2', 't': 'INTEGER', 'v': ''},
                                      {'n': 'nk3', 't': 'INTEGER', 'v': ''},
                                      {'n': 'sk1', 't': 'INTEGER', 'v': ''},
                                      {'n': 'sk2', 't': 'INTEGER', 'v': ''},
                                      {'n': 'sk3', 't': 'INTEGER', 'v': ''}]]},
                'syntax2': {'cond': 'gamma', 'l': []},
                'u': False,
                'v': ''},
  'OCCUPATIONS': { 'c': [],
                   'd': '',
                   'r': False,
                   'syntax': { 'cond': None,
                               'l': [ ( [ {'n': 'f_inp1', 't': 'REAL', 'v': []},
                                          [ { 'n': 'f_inp2',
                                              't': 'REAL',
                                              'v': []}]],
                                        '1',
                                        'nbnd',
                                        'cols')]},
                   'u': False,
                   'v': ''},
  'SYSTEM': { 'A': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'B': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'C': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'Hubbard_J(i,ityp)': { 'c': [],
                                     'd': '0.E0 for all species',
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
              'Hubbard_J0': { 'c': [],
                              'd': '0.E0 for all species',
                              't': 'REAL',
                              'v': [],
                              'vec': (1, 'ntype')},
              'Hubbard_U': { 'c': [],
                             'd': '0.E0 for all species',
                             't': 'REAL',
                             'v': [],
                             'vec': (1, 'ntyp')},
              'Hubbard_alpha': { 'c': [],
                                 'd': '0.E0 for all species',
                                 't': 'REAL',
                                 'v': [],
                                 'vec': (1, 'ntyp')},
              'Hubbard_beta': { 'c': [],
                                'd': '0.E0 for all species',
                                't': 'REAL',
                                'v': [],
                                'vec': (1, 'ntyp')},
              'U_projection_type': { 'c': [ 'atomic',
                                            'ortho-atomic',
                                            'norm-atomic',
                                            'file',
                                            'pseudo'],
                                     'd': 'atomic',
                                     't': 'CHARACTER',
                                     'v': '',
                                     'vec': None},
              'angle1': { 'c': [],
                          'd': '',
                          't': 'REAL',
                          'v': [],
                          'vec': (1, 'ntyp')},
              'angle2': { 'c': [],
                          'd': '',
                          't': 'REAL',
                          'v': [],
                          'vec': (1, 'ntyp')},
              'assume_isolated': { 'c': [ 'none',
                                          'makov-payne, m-p, mp',
                                          'martyna-tuckerman, m-t, mt',
                                          'esm',
                                          '2D'],
                                   'd': 'none',
                                   't': 'CHARACTER',
                                   'v': '',
                                   'vec': None},
              'block': { 'c': [],
                         'd': True,
                         't': 'LOGICAL',
                         'v': '',
                         'vec': None},
              'block_1': { 'c': [],
                           'd': 0.45,
                           't': 'REAL',
                           'v': '',
                           'vec': None},
              'block_2': { 'c': [],
                           'd': 0.55,
                           't': 'REAL',
                           'v': '',
                           'vec': None},
              'block_height': { 'c': [],
                                'd': 0.1,
                                't': 'REAL',
                                'v': '',
                                'vec': None},
              'celldm': {'c': [], 'd': '', 't': 'REAL', 'v': [], 'vec': (1, 6)},
              'constrained_magnetization': { 'c': [ 'none',
                                                    'total',
                                                    'atomic',
                                                    'total direction',
                                                    'atomic direction'],
                                             'd': 'none',
                                             't': 'CHARACTER',
                                             'v': '',
                                             'vec': None},
              'cosAB': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'cosAC': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'cosBC': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'degauss': { 'c': [],
                           'd': '0.E0 Ry',
                           't': 'REAL',
                           'v': '',
                           'vec': None},
              'dftd3_threebody': { 'c': [],
                                   'd': True,
                                   't': 'LOGICAL',
                                   'v': '',
                                   'vec': None},
              'dftd3_version': { 'c': [],
                                 'd': 3,
                                 't': 'integer',
                                 'v': '',
                                 'vec': None},
              'eamp': { 'c': [],
                        'd': '0.001 a.u.',
                        't': 'REAL',
                        'v': '',
                        'vec': None},
              'ecfixed': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
              'ecutfock': { 'c': [],
                            'd': 'ecutrho',
                            't': 'REAL',
                            'v': '',
                            'vec': None},
              'ecutrho': { 'c': [],
                           'd': '4 * @ref ecutwfc',
                           't': 'REAL',
                           'v': '',
                           'vec': None},
              'ecutvcut': { 'c': [],
                            'd': '0.0 Ry',
                            't': 'REAL',
                            'v': '',
                            'vec': None},
              'ecutwfc': { 'c': [],
                           'd': '',
                           't': 'REAL',
                           'v': '***',
                           'vec': None},
              'edir': {'c': [], 'd': '', 't': 'INTEGER', 'v': '', 'vec': None},
              'emaxpos': {'c': [], 'd': 0.5, 't': 'REAL', 'v': '', 'vec': None},
              'eopreg': {'c': [], 'd': 0.1, 't': 'REAL', 'v': '', 'vec': None},
              'esm_bc': { 'c': ['pbc', 'bc1', 'bc2', 'bc3'],
                          'd': 'pbc',
                          't': 'CHARACTER',
                          'v': '',
                          'vec': None},
              'esm_efield': { 'c': [],
                              'd': '0.d0',
                              't': 'REAL',
                              'v': '',
                              'vec': None},
              'esm_nfit': { 'c': [],
                            'd': 4,
                            't': 'INTEGER',
                            'v': '',
                            'vec': None},
              'esm_w': { 'c': [],
                         'd': '0.d0',
                         't': 'REAL',
                         'v': '',
                         'vec': None},
              'exx_fraction': { 'c': [],
                                'd': 'it depends on the specified functional',
                                't': 'REAL',
                                'v': '',
                                'vec': None},
              'exxdiv_treatment': { 'c': [ 'gygi-baldereschi',
                                           'vcut_spherical',
                                           'vcut_ws',
                                           'none'],
                                    'd': 'gygi-baldereschi',
                                    't': 'CHARACTER',
                                    'v': '',
                                    'vec': None},
              'fcp_mu': { 'c': [],
                          'd': '0.d0',
                          't': 'REAL',
                          'v': '',
                          'vec': None},
              'fixed_magnetization': { 'c': [],
                                       'd': '0.d0',
                                       't': 'REAL',
                                       'v': [],
                                       'vec': (1, 3)},
              'force_symmorphic': { 'c': [],
                                    'd': True,
                                    't': 'LOGICAL',
                                    'v': '',
                                    'vec': None},
              'ibrav': { 'c': [],
                         'd': '',
                         't': 'INTEGER',
                         'v': '***',
                         'vec': None},
              'input_dft': { 'c': [],
                             'd': 'read from pseudopotential files',
                             't': 'CHARACTER',
                             'v': '',
                             'vec': None},
              'label1': {'c': [], 'd': '', 't': None, 'v': '', 'vec': None},
              'lambda': { 'c': [],
                          'd': '1.d0',
                          't': 'REAL',
                          'v': '',
                          'vec': None},
              'lda_plus_u': { 'c': [],
                              'd': True,
                              't': 'LOGICAL',
                              'v': '',
                              'vec': None},
              'lda_plus_u_kind': { 'c': [],
                                   'd': 0,
                                   't': 'INTEGER',
                                   'v': '',
                                   'vec': None},
              'lforcet': { 'c': [],
                           'd': False,
                           't': 'LOGICAL',
                           'v': '',
                           'vec': None},
              'london': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
              'london_c6': { 'c': [],
                             'd': 'standard Grimme-E2 values',
                             't': 'REAL',
                             'v': [],
                             'vec': (1, 'ntyp')},
              'london_rcut': { 'c': [],
                               'd': 200.0,
                               't': 'REAL',
                               'v': '',
                               'vec': None},
              'london_rvdw': { 'c': [],
                               'd': 'standard Grimme-E2 values',
                               't': 'REAL',
                               'v': [],
                               'vec': (1, 'ntyp')},
              'london_s6': { 'c': [],
                             'd': 0.75,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
              'lspinorb': { 'c': [],
                            'd': False,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
              'nat': { 'c': [],
                       'd': '',
                       't': 'INTEGER',
                       'v': '***',
                       'vec': None},
              'nbnd': { 'c': [],
                        'd': 'for an insulator, @ref nbnd = number of valence '
                             'bands (@ref nbnd = # of electrons /2); @br for a '
                             'metal, 20% more (minimum 4 more)',
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'no_t_rev': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
              'noinv': { 'c': [],
                         'd': True,
                         't': 'LOGICAL',
                         'v': '',
                         'vec': None},
              'noncolin': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
              'nosym': { 'c': [],
                         'd': True,
                         't': 'LOGICAL',
                         'v': '',
                         'vec': None},
              'nosym_evc': { 'c': [],
                             'd': True,
                             't': 'LOGICAL',
                             'v': '',
                             'vec': None},
              'nqx1': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nqx2': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nqx3': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr1': {'c': [], 'd': None, 't': 'INTEGER', 'v': '', 'vec': None},
              'nr1s': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr2': {'c': [], 'd': None, 't': 'INTEGER', 'v': '', 'vec': None},
              'nr2s': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr3': {'c': [], 'd': None, 't': 'INTEGER', 'v': '', 'vec': None},
              'nr3s': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nspin': {'c': [], 'd': 1, 't': 'INTEGER', 'v': '', 'vec': None},
              'ntyp': { 'c': [],
                        'd': '',
                        't': 'INTEGER',
                        'v': '***',
                        'vec': None},
              'occupations': { 'c': [ 'smearing',
                                      'tetrahedra',
                                      'tetrahedra_lin',
                                      'tetrahedra_opt',
                                      'fixed',
                                      'from_input'],
                               'd': '',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
              'one_atom_occupations': { 'c': [],
                                        'd': True,
                                        't': 'LOGICAL',
                                        'v': '',
                                        'vec': None},
              'origin_choice': { 'c': [],
                                 'd': 1,
                                 't': 'INTEGER',
                                 'v': '',
                                 'vec': None},
              'q2sigma': {'c': [], 'd': 0.1, 't': 'REAL', 'v': '', 'vec': None},
              'qcutz': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
              'relaxz': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
              'report': { 'c': [],
                          'd': 100,
                          't': 'INTEGER',
                          'v': '',
                          'vec': None},
              'rhombohedral': { 'c': [],
                                'd': True,
                                't': 'LOGICAL',
                                'v': '',
                                'vec': None},
              'screening_parameter': { 'c': [],
                                       'd': 0.106,
                                       't': 'REAL',
                                       'v': '',
                                       'vec': None},
              'smearing': { 'c': [ 'gaussian, gauss',
                                   'methfessel-paxton, m-p, mp',
                                   'marzari-vanderbilt, cold, m-v, mv',
                                   'fermi-dirac, f-d, fd'],
                            'd': 'gaussian',
                            't': 'CHARACTER',
                            'v': '',
                            'vec': None},
              'space_group': { 'c': [],
                               'd': 0,
                               't': 'INTEGER',
                               'v': '',
                               'vec': None},
              'starting_charge': { 'c': [],
                                   'd': 0.0,
                                   't': 'REAL',
                                   'v': [],
                                   'vec': (1, 'ntyp')},
              'starting_magnetization': { 'c': [],
                                          'd': '',
                                          't': 'REAL',
                                          'v': [],
                                          'vec': (1, 'ntyp')},
              'starting_ns_eigenvalue(m,ispin,I)': { 'c': [],
                                                     'd': '-1.d0 that means '
                                                          'NOT SET',
                                                     't': 'REAL',
                                                     'v': '',
                                                     'vec': None},
              'starting_spin_angle': { 'c': [],
                                       'd': True,
                                       't': 'LOGICAL',
                                       'v': '',
                                       'vec': None},
              'tot_charge': { 'c': [],
                              'd': 0.0,
                              't': 'REAL',
                              'v': '',
                              'vec': None},
              'tot_magnetization': { 'c': [],
                                     'd': '-1 [unspecified]',
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
              'ts_vdw_econv_thr': { 'c': [],
                                    'd': 1e-06,
                                    't': 'REAL',
                                    'v': '',
                                    'vec': None},
              'ts_vdw_isolated': { 'c': [],
                                   'd': True,
                                   't': 'LOGICAL',
                                   'v': '',
                                   'vec': None},
              'uniqueb': { 'c': [],
                           'd': True,
                           't': 'LOGICAL',
                           'v': '',
                           'vec': None},
              'use_all_frac': { 'c': [],
                                'd': True,
                                't': 'LOGICAL',
                                'v': '',
                                'vec': None},
              'vdw_corr': { 'c': [ 'grimme-d2, Grimme-D2, DFT-D, dft-d, '
                                   'grimme-d3, Grimme-D3, DFT-D3, dft-d3 ',
                                   'TS, ts, ts-vdw, ts-vdW, '
                                   'tkatchenko-scheffler',
                                   'XDM, xdm'],
                            'd': 'none',
                            't': 'CHARACTER',
                            'v': '',
                            'vec': None},
              'x_gamma_extrapolation': { 'c': [],
                                         'd': True,
                                         't': 'LOGICAL',
                                         'v': '',
                                         'vec': None},
              'xdm': {'c': [], 'd': True, 't': 'LOGICAL', 'v': '', 'vec': None},
              'xdm_a1': { 'c': [],
                          'd': 0.6836,
                          't': 'REAL',
                          'v': '',
                          'vec': None},
              'xdm_a2': { 'c': [],
                          'd': 1.5045,
                          't': 'REAL',
                          'v': '',
                          'vec': None},
              'zgate': {'c': [], 'd': 0.5, 't': 'REAL', 'v': '', 'vec': None}},
  'card': [ 'ATOMIC_SPECIES',
            'ATOMIC_POSITIONS',
            'K_POINTS',
            'CELL_PARAMETERS',
            'CONSTRAINTS',
            'OCCUPATIONS',
            'ATOMIC_FORCES'],
  'nl': ['CONTROL', 'SYSTEM', 'ELECTRONS', 'IONS', 'CELL']}
