{ 'ATOMIC_FORCES': { 'c': [],
                     'd': '',
                     'r': False,
                     'syntax': { 'cond': None,
                                 'l': [ ( [ { 'n': 'X',
                                              't': 'CHARACTER',
                                              'v': []},
                                            {'n': 'fx', 't': 'REAL', 'v': []},
                                            {'n': 'fy', 't': 'REAL', 'v': []},
                                            {'n': 'fz', 't': 'REAL', 'v': []}],
                                          '1',
                                          'nat',
                                          'rows')]},
                     'u': False,
                     'v': ''},
  'ATOMIC_POSITIONS': { 'c': ['alat', 'bohr', 'angstrom', 'crystal'],
                        'd': '(DEPRECATED) bohr',
                        'r': True,
                        'syntax': { 'cond': None,
                                    'l': [ ( [ { 'n': 'X',
                                                 't': 'CHARACTER',
                                                 'v': []},
                                               {'n': 'x', 't': 'REAL', 'v': []},
                                               {'n': 'y', 't': 'REAL', 'v': []},
                                               {'n': 'z', 't': 'REAL', 'v': []},
                                               [ { 'n': 'if_pos(1)',
                                                   't': 'INTEGER',
                                                   'v': []},
                                                 { 'n': 'if_pos(2)',
                                                   't': 'INTEGER',
                                                   'v': []},
                                                 { 'n': 'if_pos(3)',
                                                   't': 'INTEGER',
                                                   'v': []}]],
                                             '1',
                                             'nat',
                                             'rows')]},
                        'u': False,
                        'v': ''},
  'ATOMIC_SPECIES': { 'c': [],
                      'd': '',
                      'r': True,
                      'syntax': { 'cond': None,
                                  'l': [ ( [ { 'n': 'X',
                                               't': 'CHARACTER',
                                               'v': []},
                                             { 'n': 'Mass_X',
                                               't': 'REAL',
                                               'v': []},
                                             { 'n': 'PseudoPot_X',
                                               't': 'CHARACTER',
                                               'v': []}],
                                           '1',
                                           'ntyp',
                                           'rows')]},
                      'u': False,
                      'v': ''},
  'ATOMIC_VELOCITIES': { 'c': ['a.u'],
                         'd': None,
                         'r': False,
                         'syntax': { 'cond': None,
                                     'l': [ ( [ { 'n': 'V',
                                                  't': 'CHARACTER',
                                                  'v': []},
                                                { 'n': 'vx',
                                                  't': 'REAL',
                                                  'v': []},
                                                { 'n': 'vy',
                                                  't': 'REAL',
                                                  'v': []},
                                                { 'n': 'vz',
                                                  't': 'REAL',
                                                  'v': []}],
                                              '1',
                                              'nat',
                                              'rows')]},
                         'u': False,
                         'v': ''},
  'AUTOPILOT': { 'c': [],
                 'd': '',
                 'r': False,
                 'syntax': { 'cond': None,
                             'l': [ ( [ { 'n': 'pilot_rule',
                                          't': 'RULE',
                                          'v': []}],
                                      '1',
                                      'nevent',
                                      'rows')]},
                 'u': False,
                 'v': ''},
  'CELL': { 'cell_damping': { 'c': [],
                              'd': 0.1,
                              't': 'REAL',
                              'v': '',
                              'vec': None},
            'cell_dofree': { 'c': [],
                             'd': 'all',
                             't': 'CHARACTER',
                             'v': '',
                             'vec': None},
            'cell_dynamics': { 'c': [],
                               'd': 'none',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
            'cell_factor': { 'c': [],
                             'd': 1.2,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
            'cell_parameters': { 'c': [],
                                 'd': '',
                                 't': 'CHARACTER',
                                 'v': '',
                                 'vec': None},
            'cell_temperature': { 'c': [],
                                  'd': 'not_controlled',
                                  't': 'CHARACTER',
                                  'v': '',
                                  'vec': None},
            'cell_velocities': { 'c': [],
                                 'd': '',
                                 't': 'CHARACTER',
                                 'v': '',
                                 'vec': None},
            'fnoseh': {'c': [], 'd': 1.0, 't': 'REAL', 'v': '', 'vec': None},
            'greash': {'c': [], 'd': 1.0, 't': 'REAL', 'v': '', 'vec': None},
            'press': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
            'temph': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
            'wmass': { 'c': [],
                       'd': '0.75*Tot_Mass/pi**2 for Parrinello-Rahman ME; '
                            '0.75*Tot_Mass/pi**2/Omega**(2/3) for Wentzcovitch '
                            'ME',
                       't': 'REAL',
                       'v': '',
                       'vec': None}},
  'CELL_PARAMETERS': { 'c': ['bohr', 'angstrom', 'alat'],
                       'd': None,
                       'r': False,
                       'syntax': { 'cond': None,
                                   'l': [ ( [ {'n': 'v1', 't': 'REAL', 'v': []},
                                              {'n': 'v2', 't': 'REAL', 'v': []},
                                              { 'n': 'v3',
                                                't': 'REAL',
                                                'v': []}],
                                            '1',
                                            '3',
                                            'cols')]},
                       'u': False,
                       'v': ''},
  'CONSTRAINTS': { 'c': [],
                   'd': '',
                   'r': False,
                   'syntax': { 'cond': None,
                               'l': [ [ { 'n': 'nconstr',
                                          't': 'INTEGER',
                                          'v': ''}],
                                      ( [ { 'n': 'constr_type',
                                            't': 'CHARACTER',
                                            'v': []},
                                          { 'n': 'constr(1)',
                                            't': None,
                                            'v': []},
                                          { 'n': 'constr(2)',
                                            't': None,
                                            'v': []},
                                          [ { 'n': 'constr_target',
                                              't': 'REAL',
                                              'v': []}]],
                                        '1',
                                        'nconstr',
                                        'rows')]},
                   'u': False,
                   'v': ''},
  'CONTROL': { 'calculation': { 'c': [],
                                'd': 'cp',
                                't': 'CHARACTER',
                                'v': '',
                                'vec': None},
               'disk_io': { 'c': [],
                            'd': 'default',
                            't': 'CHARACTER',
                            'v': '',
                            'vec': None},
               'dt': {'c': [], 'd': 1.0, 't': 'REAL', 'v': '', 'vec': None},
               'ekin_conv_thr': { 'c': [],
                                  'd': 1e-06,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
               'etot_conv_thr': { 'c': [],
                                  'd': 0.0001,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
               'forc_conv_thr': { 'c': [],
                                  'd': 0.001,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
               'iprint': { 'c': [],
                           'd': 10,
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
               'isave': { 'c': [],
                          'd': 100,
                          't': 'INTEGER',
                          'v': '',
                          'vec': None},
               'max_seconds': { 'c': [],
                                'd': '1.E+7, or 150 days, i.e. no time limit',
                                't': 'REAL',
                                'v': '',
                                'vec': None},
               'memory': { 'c': [],
                           'd': 'default',
                           't': 'CHARACTER',
                           'v': '',
                           'vec': None},
               'ndr': {'c': [], 'd': 50, 't': 'INTEGER', 'v': '', 'vec': None},
               'ndw': {'c': [], 'd': 50, 't': 'INTEGER', 'v': '', 'vec': None},
               'nstep': { 'c': [],
                          'd': 50,
                          't': 'INTEGER',
                          'v': '',
                          'vec': None},
               'outdir': { 'c': [],
                           'd': 'value of the ESPRESSO_TMPEIR environment '
                                'variable if set; current directory (./) '
                                'otherwise',
                           't': 'CHARACTER',
                           'v': '',
                           'vec': None},
               'prefix': { 'c': [],
                           'd': 'cp',
                           't': 'CHARACTER',
                           'v': '',
                           'vec': None},
               'pseudo_dir': { 'c': [],
                               'd': 'value of the $ESPRESSO_PSEUEO environment '
                                    'variable if set; $HOME/espresso/pseudo/ '
                                    'otherwise',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
               'restart_mode': { 'c': [],
                                 'd': 'restart',
                                 't': 'CHARACTER',
                                 'v': '',
                                 'vec': None},
               'saverho': { 'c': [],
                            'd': False,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'tabps': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
               'tefield': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'title': { 'c': [],
                          'd': 'ME Simulation ',
                          't': 'CHARACTER',
                          'v': '',
                          'vec': None},
               'tprnfor': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'tstress': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
               'verbosity': { 'c': [],
                              'd': 'low',
                              't': 'CHARACTER',
                              'v': '',
                              'vec': None}},
  'ELECTRONS': { 'ampre': { 'c': [],
                            'd': 0.0,
                            't': 'REAL',
                            'v': '',
                            'vec': None},
                 'conv_thr': { 'c': [],
                               'd': 1e-06,
                               't': 'REAL',
                               'v': '',
                               'vec': None},
                 'efield': { 'c': [],
                             'd': 0.0,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                 'ekincw': { 'c': [],
                             'd': 0.001,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                 'electron_damping': { 'c': [],
                                       'd': 0.1,
                                       't': 'REAL',
                                       'v': '',
                                       'vec': None},
                 'electron_dynamics': { 'c': [],
                                        'd': 'none',
                                        't': 'CHARACTER',
                                        'v': '',
                                        'vec': None},
                 'electron_maxstep': { 'c': [],
                                       'd': 100,
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                 'electron_temperature': { 'c': [],
                                           'd': 'not_controlled',
                                           't': 'CHARACTER',
                                           'v': '',
                                           'vec': None},
                 'electron_velocities': { 'c': [],
                                          'd': '',
                                          't': 'CHARACTER',
                                          'v': '',
                                          'vec': None},
                 'emass': { 'c': [],
                            'd': 400.0,
                            't': 'REAL',
                            'v': '',
                            'vec': None},
                 'emass_cutoff': { 'c': [],
                                   'd': 2.5,
                                   't': 'REAL',
                                   'v': '',
                                   'vec': None},
                 'epol': { 'c': [],
                           'd': 3,
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
                 'fnosee': { 'c': [],
                             'd': 1.0,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                 'grease': { 'c': [],
                             'd': 1.0,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                 'lambda_cold': { 'c': [],
                                  'd': 0.03,
                                  't': 'REAL',
                                  'v': '',
                                  'vec': None},
                 'maxiter': { 'c': [],
                              'd': 100,
                              't': 'INTEGER',
                              'v': '',
                              'vec': None},
                 'n_inner': { 'c': [],
                              'd': 2,
                              't': 'INTEGER',
                              'v': '',
                              'vec': None},
                 'ninter_cold_restart': { 'c': [],
                                          'd': 1,
                                          't': 'INTEGER',
                                          'v': '',
                                          'vec': None},
                 'niter_cg_restart': { 'c': [],
                                       'd': 20,
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                 'ortho_eps': { 'c': [],
                                'd': 1e-08,
                                't': 'REAL',
                                'v': '',
                                'vec': None},
                 'ortho_max': { 'c': [],
                                'd': 20,
                                't': 'INTEGER',
                                'v': '',
                                'vec': None},
                 'ortho_para': { 'c': [],
                                 'd': 0,
                                 't': 'INTEGER',
                                 'v': '',
                                 'vec': None},
                 'orthogonalization': { 'c': [],
                                        'd': 'ortho',
                                        't': 'CHARACTER',
                                        'v': '',
                                        'vec': None},
                 'passop': { 'c': [],
                             'd': 0.3,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                 'startingwfc': { 'c': [],
                                  'd': 'random',
                                  't': 'CHARACTER',
                                  'v': '',
                                  'vec': None},
                 'tcg': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None}},
  'IONS': { 'amprp': { 'c': [],
                       'd': 0.0,
                       't': 'REAL',
                       'v': [],
                       'vec': (1, 'ntyp')},
            'fnhscl': { 'c': [],
                        'd': '(Nat_{total}-1)/Nat_{total}',
                        't': 'REAL',
                        'v': [],
                        'vec': (1, 'ntyp')},
            'fnosep': {'c': [], 'd': 1.0, 't': 'REAL', 'v': '', 'vec': None},
            'greasp': {'c': [], 'd': 1.0, 't': 'REAL', 'v': '', 'vec': None},
            'iesr': {'c': [], 'd': 1, 't': 'INTEGER', 'v': '', 'vec': None},
            'ion_damping': { 'c': [],
                             'd': 0.2,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
            'ion_dynamics': { 'c': [],
                              'd': '',
                              't': 'CHARACTER',
                              'v': '',
                              'vec': None},
            'ion_nstepe': { 'c': [],
                            'd': 1,
                            't': 'INTEGER',
                            'v': '',
                            'vec': None},
            'ion_positions': { 'c': [],
                               'd': 'default',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
            'ion_radius': { 'c': [],
                            'd': '0.5 a.u. for all species',
                            't': 'REAL',
                            'v': [],
                            'vec': (1, 'ntyp')},
            'ion_temperature': { 'c': [],
                                 'd': 'not_controlled',
                                 't': 'CHARACTER',
                                 'v': '',
                                 'vec': None},
            'ion_velocities': { 'c': [],
                                'd': 'default',
                                't': 'CHARACTER',
                                'v': '',
                                'vec': None},
            'ndega': {'c': [], 'd': 0, 't': 'INTEGER', 'v': '', 'vec': None},
            'nhgrp': { 'c': [],
                       'd': 0,
                       't': 'INTEGER',
                       'v': [],
                       'vec': (1, 'ntyp')},
            'nhpcl': {'c': [], 'd': 1, 't': 'INTEGER', 'v': '', 'vec': None},
            'nhptyp': {'c': [], 'd': 0, 't': 'INTEGER', 'v': '', 'vec': None},
            'remove_rigid_rot': { 'c': [],
                                  'd': True,
                                  't': 'LOGICAL',
                                  'v': '',
                                  'vec': None},
            'tempw': {'c': [], 'd': 300.0, 't': 'REAL', 'v': '', 'vec': None},
            'tolp': {'c': [], 'd': 100.0, 't': 'REAL', 'v': '', 'vec': None},
            'tranp': { 'c': [],
                       'd': True,
                       't': 'LOGICAL',
                       'v': [],
                       'vec': (1, 'ntyp')}},
  'OCCUPATIONS': { 'c': [],
                   'd': '',
                   'r': False,
                   'syntax': { 'cond': None,
                               'l': [ ( [ {'n': 'f_inp1', 't': 'REAL', 'v': []},
                                          [ { 'n': 'f_inp2',
                                              't': 'REAL',
                                              'v': []}]],
                                        '1',
                                        'nbnd',
                                        'cols')]},
                   'u': False,
                   'v': ''},
  'PLOT_WANNIER': { 'c': [],
                    'd': '',
                    'r': False,
                    'syntax': { 'cond': None,
                                'l': [ ( [ { 'n': 'iwf',
                                             't': 'INTEGER',
                                             'v': []}],
                                         '1',
                                         'nwf',
                                         'rows')]},
                    'u': False,
                    'v': ''},
  'PRESS_AI': { 'P_ext': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
                'P_fin': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
                'P_in': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
                'Surf_t': { 'c': [],
                            'd': 0.0,
                            't': 'REAL',
                            'v': '',
                            'vec': None},
                'abisur': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
                'abivol': { 'c': [],
                            'd': True,
                            't': 'LOGICAL',
                            'v': '',
                            'vec': None},
                'dthr': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
                'pvar': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
                'rho_thr': { 'c': [],
                             'd': 0.0,
                             't': 'REAL',
                             'v': '',
                             'vec': None}},
  'REF_CELL_PARAMETERS': { 'c': ['bohr', 'angstrom'],
                           'd': None,
                           'r': False,
                           'syntax': { 'cond': None,
                                       'l': [ ( [ { 'n': 'v1',
                                                    't': 'REAL',
                                                    'v': []},
                                                  { 'n': 'v2',
                                                    't': 'REAL',
                                                    'v': []},
                                                  { 'n': 'v3',
                                                    't': 'REAL',
                                                    'v': []}],
                                                '1',
                                                '3',
                                                'cols')]},
                           'u': False,
                           'v': ''},
  'SYSTEM': { 'A': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'B': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'C': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'Hubbard_U': { 'c': [],
                             'd': '0.E0 for all species',
                             't': 'REAL',
                             'v': [],
                             'vec': (1, 'ntyp')},
              'assume_isolated': { 'c': [],
                                   'd': 'none',
                                   't': 'CHARACTER',
                                   'v': '',
                                   'vec': None},
              'celldm': {'c': [], 'd': '', 't': 'REAL', 'v': [], 'vec': (1, 6)},
              'cosAB': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'cosAC': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'cosBC': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
              'degauss': { 'c': [],
                           'd': '0.E0 Ry',
                           't': 'REAL',
                           'v': '',
                           'vec': None},
              'ecfixed': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
              'ecutrho': { 'c': [],
                           'd': '4 * ecutwfc',
                           't': 'REAL',
                           'v': '',
                           'vec': None},
              'ecutwfc': { 'c': [],
                           'd': '',
                           't': 'REAL',
                           'v': '***',
                           'vec': None},
              'exx_fraction': { 'c': [],
                                'd': 'it depends on the specified functional',
                                't': 'REAL',
                                'v': '',
                                'vec': None},
              'ibrav': { 'c': [],
                         'd': '',
                         't': 'INTEGER',
                         'v': '***',
                         'vec': None},
              'input_dft': { 'c': [],
                             'd': 'read from pseudopotential files',
                             't': 'CHARACTER',
                             'v': '',
                             'vec': None},
              'label1': {'c': [], 'd': '', 't': None, 'v': '', 'vec': None},
              'lda_plus_u': { 'c': [],
                              'd': True,
                              't': 'LOGICAL',
                              'v': '',
                              'vec': None},
              'london_rcut': { 'c': [],
                               'd': 200.0,
                               't': 'REAL',
                               'v': '',
                               'vec': None},
              'london_s6': { 'c': [],
                             'd': 0.75,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
              'nat': { 'c': [],
                       'd': '',
                       't': 'INTEGER',
                       'v': '***',
                       'vec': None},
              'nbnd': { 'c': [],
                        'd': 'for an insulator, nbnd = number of valence bands '
                             '(nbnd = # of electrons /2); for a metal, 20% '
                             'more (minimum 4 more)',
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr1': {'c': [], 'd': None, 't': 'INTEGER', 'v': '', 'vec': None},
              'nr1b': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr1s': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr2': {'c': [], 'd': None, 't': 'INTEGER', 'v': '', 'vec': None},
              'nr2b': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr2s': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr3': {'c': [], 'd': None, 't': 'INTEGER', 'v': '', 'vec': None},
              'nr3b': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nr3s': { 'c': [],
                        'd': None,
                        't': 'INTEGER',
                        'v': '',
                        'vec': None},
              'nspin': {'c': [], 'd': 1, 't': 'INTEGER', 'v': '', 'vec': None},
              'ntyp': { 'c': [],
                        'd': '',
                        't': 'INTEGER',
                        'v': '***',
                        'vec': None},
              'occupations': { 'c': [],
                               'd': '',
                               't': 'CHARACTER',
                               'v': '',
                               'vec': None},
              'q2sigma': {'c': [], 'd': 0.1, 't': 'REAL', 'v': '', 'vec': None},
              'qcutz': {'c': [], 'd': 0.0, 't': 'REAL', 'v': '', 'vec': None},
              'smearing': { 'c': [],
                            'd': '',
                            't': 'CHARACTER',
                            'v': '',
                            'vec': None},
              'tot_charge': { 'c': [],
                              'd': 0.0,
                              't': 'REAL',
                              'v': '',
                              'vec': None},
              'tot_magnetization': { 'c': [],
                                     'd': '-1 [unspecified]',
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
              'ts_vdw': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
              'ts_vdw_econv_thr': { 'c': [],
                                    'd': 1e-06,
                                    't': 'REAL',
                                    'v': '',
                                    'vec': None},
              'ts_vdw_isolated': { 'c': [],
                                   'd': True,
                                   't': 'LOGICAL',
                                   'v': '',
                                   'vec': None},
              'vdw_corr': { 'c': [],
                            'd': 'none',
                            't': 'CHARACTER',
                            'v': '',
                            'vec': None}},
  'WANNIER': { 'adapt': { 'c': [],
                          'd': True,
                          't': 'LOGICAL',
                          'v': '',
                          'vec': None},
               'calwf': {'c': [], 'd': 3, 't': 'INTEGER', 'v': '', 'vec': None},
               'efx0': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
               'efx1': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
               'efy0': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
               'efy1': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
               'efz0': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
               'efz1': {'c': [], 'd': None, 't': 'REAL', 'v': '', 'vec': None},
               'exx_dis_cutoff': { 'c': [],
                                   'd': 8.0,
                                   't': 'REAL',
                                   'v': '',
                                   'vec': None},
               'exx_me_rcut_pair': { 'c': [],
                                     'd': 7.0,
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
               'exx_me_rcut_self': { 'c': [],
                                     'd': 10.0,
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
               'exx_neigh': { 'c': [],
                              'd': 60,
                              't': 'INTEGER',
                              'v': '',
                              'vec': None},
               'exx_poisson_eps': { 'c': [],
                                    'd': 1e-06,
                                    't': 'REAL',
                                    'v': '',
                                    'vec': None},
               'exx_ps_rcut_pair': { 'c': [],
                                     'd': 5.0,
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
               'exx_ps_rcut_self': { 'c': [],
                                     'd': 6.0,
                                     't': 'REAL',
                                     'v': '',
                                     'vec': None},
               'maxwfdt': { 'c': [],
                            'd': 0.3,
                            't': 'REAL',
                            'v': '',
                            'vec': None},
               'nit': {'c': [], 'd': 10, 't': 'INTEGER', 'v': '', 'vec': None},
               'nsd': {'c': [], 'd': 10, 't': 'INTEGER', 'v': '', 'vec': None},
               'nsteps': { 'c': [],
                           'd': 20,
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
               'nwf': {'c': [], 'd': 0, 't': 'INTEGER', 'v': '', 'vec': None},
               'sw_len': { 'c': [],
                           'd': 1,
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
               'tolw': {'c': [], 'd': 1e-08, 't': 'REAL', 'v': '', 'vec': None},
               'wf_efield': { 'c': [],
                              'd': True,
                              't': 'LOGICAL',
                              'v': '',
                              'vec': None},
               'wf_friction': { 'c': [],
                                'd': 0.3,
                                't': 'REAL',
                                'v': '',
                                'vec': None},
               'wf_q': { 'c': [],
                         'd': 1500.0,
                         't': 'REAL',
                         'v': '',
                         'vec': None},
               'wf_switch': { 'c': [],
                              'd': True,
                              't': 'LOGICAL',
                              'v': '',
                              'vec': None},
               'wfdt': {'c': [], 'd': 5.0, 't': 'REAL', 'v': '', 'vec': None},
               'wffort': { 'c': [],
                           'd': 40,
                           't': 'INTEGER',
                           'v': '',
                           'vec': None},
               'wfsd': {'c': [], 'd': 1, 't': 'INTEGER', 'v': '', 'vec': None},
               'writev': { 'c': [],
                           'd': True,
                           't': 'LOGICAL',
                           'v': '',
                           'vec': None}},
  'card': [ 'ATOMIC_SPECIES',
            'ATOMIC_POSITIONS',
            'ATOMIC_VELOCITIES',
            'CELL_PARAMETERS',
            'REF_CELL_PARAMETERS',
            'CONSTRAINTS',
            'OCCUPATIONS',
            'ATOMIC_FORCES',
            'PLOT_WANNIER',
            'AUTOPILOT'],
  'nl': [ 'CONTROL',
          'SYSTEM',
          'ELECTRONS',
          'IONS',
          'CELL',
          'PRESS_AI',
          'WANNIER']}
