{ 'INPUTMOPDOS': { 'DeltaE': { 'c': [],
                               'd': 0.01,
                               't': 'REAL',
                               'v': '',
                               'vec': None},
                   'Emax': { 'c': [],
                             'd': None,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                   'Emin': { 'c': [],
                             'd': None,
                             't': 'REAL',
                             'v': '',
                             'vec': None},
                   'degauss': { 'c': [],
                                'd': 0.0,
                                't': 'REAL',
                                'v': '',
                                'vec': None},
                   'fileout': { 'c': [],
                                'd': 'molecularpdos',
                                't': 'CHARACTER',
                                'v': '',
                                'vec': None},
                   'i_atmwfc_beg_full': { 'c': [],
                                          'd': 1,
                                          't': 'INTEGER',
                                          'v': '',
                                          'vec': None},
                   'i_atmwfc_beg_part': { 'c': [],
                                          'd': 1,
                                          't': 'INTEGER',
                                          'v': '',
                                          'vec': None},
                   'i_atmwfc_end_full': { 'c': [],
                                          'd': '0, i.e., all atomic '
                                               'wavefunctions',
                                          't': 'INTEGER',
                                          'v': '',
                                          'vec': None},
                   'i_atmwfc_end_part': { 'c': [],
                                          'd': '0, i.e., all atomic '
                                               'wavefunctions',
                                          't': 'INTEGER',
                                          'v': '',
                                          'vec': None},
                   'i_bnd_beg_full': { 'c': [],
                                       'd': 1,
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                   'i_bnd_beg_part': { 'c': [],
                                       'd': 1,
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                   'i_bnd_end_full': { 'c': [],
                                       'd': '0, i.e., all eigenstates',
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                   'i_bnd_end_part': { 'c': [],
                                       'd': '0, i.e., all eigenstates',
                                       't': 'INTEGER',
                                       'v': '',
                                       'vec': None},
                   'kresolveddos': { 'c': [],
                                     'd': True,
                                     't': 'LOGICAL',
                                     'v': '',
                                     'vec': None},
                   'ngauss': { 'c': [],
                               'd': 0,
                               't': 'INTEGER',
                               'v': '',
                               'vec': None},
                   'xmlfile_full': { 'c': [],
                                     'd': None,
                                     't': 'CHARACTER',
                                     'v': '',
                                     'vec': None},
                   'xmlfile_part': { 'c': [],
                                     'd': None,
                                     't': 'CHARACTER',
                                     'v': '',
                                     'vec': None}},
  'card': [],
  'nl': ['INPUTMOPDOS']}
